<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Pick My Kids Name
        </a>
      </div>
    </div>
  </nav>

<div class="container">

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        <span class="badge">-</span>
        <span class="badge">+</span>
        Gert
    </li>
    <li class="list-group-item">
        <span class="badge">100</span>
        <span class="badge">-</span>
        <span class="badge">+</span>
        Peanut
    </li>
  </ul>


  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <form>
  <input type="text" class="form-control" />
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</button></div>
